{% extends 'users/base.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" href="{% static 'main_page.css' %}">
{%endblock%}

{% block content%}
	
<main class="user_border">
	<div class="user_conteiner">
		<div class="ava">
			
		</div>
		<h2>{{ obj }}</h2>
	{% csrf_token %} 
		
	{%if is_my %}
		<a class="btn_redag" href="{% url 'users:edit'%}">Редагувати профіль</a>
	{% else %}
	<form action="{% url 'users:add_friend' %}" method="post">
		{% csrf_token %}
			<input type="submit" value="Add friends" class="btn_redag">
	</form>
	{%endif%}
	</div>
	
</main>
{% endblock %}