{% extends 'users/base.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" href="{% static 'main_page.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">
{%endblock%}

{% block content%}
	<main class="user_border">
		<div class="user_conteiner">
			
			<form action="{% url 'users:edit' %}" method="post">
				{% csrf_token %}
				<div id="register">
					<h2>Редагувати профіль</h2>
					{% if form.errors%}
						<div class='error_border' role="alert" >
							{{form.errors}}
						</div>
					{% endif %}
					
					<div class="group">
						<label id="login" for="{{ form.username.id_for_label }}">Логін:</label>
						{{ form.username }}
					</div>
					<div class="group">
						<label id="login" for="{{ form.first_name.id_for_label }}">Ім'я:</label>
						{{ form.first_name }}
					</div>
					<div class="group">
						<label id="login" for="{{ form.last_name.id_for_label }}">Прізвище:</label>
						{{ form.last_name }}
					</div>
					<div class="group">
						<label id="login" for="{{ form.email.id_for_label }}">Email:</label>
						{{ form.email }}
					</div>
				</div>
				<div class="btn">
					<a href="{% url 'users:main_page' %}" class="submit">Скасувати</a>
					<input type="submit" value="Підтвердити" class="submit">
				</div>
			</form>
		</div>
	</main>
{% endblock %}