{% extends 'users/base.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" href="{% static 'main_page.css' %}">
{%endblock%}

{% block content%}

	<main class="user_border">
		<div class="welcome"> 
			<p>Вітаємо!</p>
			<p>Привіт і ласкаво просимо до нашої соціальної мережі! Ми надіємося, що ви знайдете у нашій спільноті все, що потрібно для підтримки зв'язків. Будь ласка, не соромтеся звернутися до нас за допомогою, якщо у вас є які-небудь запитання чи потреби. Бажаємо вам приємного перебування та вдалих переписок.</p>
		</div>
		<div class="search_user">
			{% for all_users in all_user%}
				<a class="user_link" href="{% url 'users:profile' all_users.username %}">{{ all_users.username }}</a>
			{% endfor %}
		</div>
	</main>
{% endblock %}









