{% extends 'users/base.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" href="{% static 'main_page.css' %}">
{%endblock%}

{% block content%}
	
<main class="user_border">
	<div class="user_conteiner">
		<div class="ava">
			
		</div>
		<h2>{{ obj }}</h2>
	{% csrf_token %} 
		
	{%if is_my %}
		<a class="btn_redag" href="{% url 'users:edit'%}">Редагувати профіль</a>
	{% else %}
	<form method="POST">
		{% csrf_token %}
		{%if obj in user.friends.all %}
			<button type="submit" value="unfollow" class="btn_redag" name="follow">Unfollow</button>
		{%else%} 
			<button type="submit" value="follow" class="btn_redag" name="follow">Follow</button>
		{% endif %}
	</form>
	{%endif%}
	</div>
	
</main>
{% endblock %}